.quiz-item {
    margin-bottom: 20px;
    
    .item-title {
      font-size: 18px;
      color: #ffffff;
      line-height: 1.6;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
  
      .item-index {
        margin-right: 8px;
        font-weight: 700;
      }
  
      .item-tag {
        color: #00f6ff;
        margin: 0 8px;
        white-space: nowrap;
      }
  
      .item-content {
        flex: 1;
      }
    }
  }